<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="CSC309 Team 22">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BookHub</title>
		<link rel="icon" href="/img/web_icon.png" sizes="16x16" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/bookhub.css" media="screen" />
		<!-- includes -->
	    <script src="https://fb.me/react-15.0.1.js"></script>
	    <script src="https://fb.me/react-dom-15.0.1.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	    <!-- included bootstrap js dependency files -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <!-- include bootstrap css file -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	    <!-- JS -->
	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous"></script>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
		<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
		<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-classic.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="body_image">
		<!-- Full Width Image Header -->
		<header>
			<!-- Navbar -->
			<div class="navbar-wrapper">
				<nav class="navbar navbar-default bookhub_nav">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					      	</button>
							<a class="navbar-brand" href="/"><img alt="logo" class="bookhub_logo" src="/img/nav_logo.png" /></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav navbar-right">
								<% if(userid) {%>
								<li><a href="/list">Listings</a></li>
								<li><a href="/cart">Cart</a></li>
								<li class="dropdown">
							        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My BookHub
							        <span class="caret"></span></a>
							        <ul class="dropdown-menu">
									  <li><a href="/users/<%= userid %>">My Profile</a></li>
							          <li><a href="/users/update">Edit Profile</a></li>
							        </ul>
							    </li>
								<li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
								<% } else {%>
								<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Register</a></li>
								<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
								<% } %>
							</ul>
						</div>
					</div>
				</nav>
			</div>
	    </header>
