<% include header%>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="<%=user.image.data %>" class="bookhub_profile_img" alt="profile_img"/>
        </div>
        <div class="col-md-8">
            <h2><%= user.name %></h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><%= user.phone %></td>
                    </tr>
                </tbody>
            </table>
            <a href="/users/update" type="text/html" class="btn btn-md btn-primary">Edit my profile</a>
        </div>
    </div>
</div>
<% include footer %>
