.body_image {
  background: url('../img/uoft_campus.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.result_search_wrapper{
	width: 100%;
	background-image: url('../img/uoft_campus.jpg');
	padding: 5%;
	margin: -20px 0 20px 0;
}
.search_wrapper{
	width: 100%;
	padding: 15% 5%;
}
.btn-md-margin{
	margin-top: 25px;
}
.bookhub_logo{
	height: 30px;
	margin: -5px 0px 0px 0px;
}
.bookhub_profile_img{
    display: block;
    width:150px;
    margin:0 auto 10px auto;
}
.bookhub_thumb_img{
    display: block;
    max-height:30px;
}
.bookhub_header_wrapper {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/uoft_campus.jpg') no-repeat center center scroll;
    background-size: cover;
}

.button_right{
	float:right;
	display: block;
}
.error_page{
    width: 50%;
    margin: 0 25%;

}

/*footer style*/
footer {
  background-color: GAINSBORO;
}
footer p{
	margin: 0px 10px;
	font-size: 14px;
	color: DIMGRAY;
    text-align: right;
    text-decoration: none;
}
