.bookhub_search_description {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
}
.bookhub_search_thumb_wrapper{
    padding: 5px 10%;
}
.bookhub_search_thumb{
    display: block;
    height: 100px;
    max-width: 100%;
    margin: auto;
}
.bookhub_search_item_wrapper,.bookhub_review_item_wrapper{
    border-bottom: 1px solid SILVER;
    padding-top: 15px;
}
.bookhub_search_item_wrapper:hover,.bookhub_review_item_wrapper:hover{
    background-color: WHITESMOKE;
}
.bookhub_search_isbn,.bookhub_review_rate{
    color:grey;
}
.bookhub_search_title{
    font-size: 18px;
}
.bookhub_search_price{
    font-size: 20px;
    color:YELLOWGREEN;
}
.bookhub_review_buyer{
    display: block;
    color:STEELBLUE;
}
.bookhub_review_comment{
    margin-top: 10px;
}
.body_image {
  background: url('../img/uoft_campus.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.result_search_wrapper{
	width: 100%;
	background-image: url('../img/uoft_campus.jpg');
	padding: 5%;
	margin: -20px 0 20px 0;
}
.search_wrapper{
	width: 100%;
	padding: 15% 5%;
}
.btn-md-margin{
	margin-top: 25px;
}
.bookhub_logo{
	height: 30px;
	margin: -5px 0px 0px 0px;
}
.bookhub_profile_img{
    display: block;
    width:150px;
    margin:0 auto 10px auto;
}
.bookhub_thumb_img{
    display: block;
    max-height:30px;
}
.bookhub_thumb_large{
    display: block;
    min-width: 100%;
}
.bookhub_share_label{
    display: block;
    margin-top: 20px;
    margin-bottom: -5px;
    font-weight: bold;
}
.bookhub_header_wrapper {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/uoft_campus.jpg') no-repeat center center scroll;
    background-size: cover;
}

.button_right{
	float:right;
	display: block;
}
.error_page{
    width: 50%;
    margin: 0 25%;

}
.bookhub_cart_btn_wrapper{
    margin: 10px auto 20px auto;
    text-align: center;
}
/*footer style*/
footer {
  background-color: GAINSBORO;
}
footer p{
	margin: 0px 10px;
	font-size: 14px;
	color: DIMGRAY;
    text-align: right;
    text-decoration: none;
}
