.bookhub_nav{
	border-radius: 0px;
}
.bookhub_logo{
	height: 30px;
	margin: -5px 0px 0px 0px;
}

.bookhub_header_wrapper {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/uoft_campus.jpg') no-repeat center center scroll;
    background-size: cover;
}

/*footer style*/
footer { 
	width: 100%;
	float: left;
    display: block;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    background-color: GAINSBORO;
}
footer p{
	margin: 0px 10px; 
	font-size: 14px;
	color: DIMGRAY;
    text-align: right;
    text-decoration: none;
}